<div class="container-fluid">
<div id="bills">
  <% bills.each do |bill| %>
    <%= link_to group_bill_path(bill.group_id, bill) do %>
      <div class="row d-flex mb-3 bg-white py-2 mx-1 box-card">
         <div class="row-25">
           <p class="mb-0"><%= 'Amount: ' %></p>
           <p class="mb-0"><%= 'Narration: ' %></p>
         </div>
         <div class="row-75 px-1 d-flex justify-content-between">
          <div>
          <p class="mb-0 px-1">$<%= bill.amount %></p>
           <p class="mb-0 px-1"><%= bill.name %></p>
          </div>
         </div>
      </div>
      <% end %>
  <% end %>
</div>
</div>