<div id="<%= dom_id user %>">
  <p>
    <strong>Profile Picture:</strong>
    <img src=<%= user.profile_picture %> alt=<%= user.name %> width="150" />
  </p>


  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= user.profile_picture %>
  </p>

</div>
